.typecho-option-submit {
    position: fixed;
    left: 0px;
    top: 88%;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(8px);
    height: 80px;
    width: 100%;
    box-shadow: 0px -6px 11px -10px rgb(133 133 133 / 60%);
    z-index: 9;
    transition-duration: .5s;
}
.typecho-option-submit:hover{
    backdrop-filter: blur(.3px);
}
.typecho-option-submit li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.typecho-option-submit li button {
    border-radius: 18px;
    width: 94px;
    height: 45px;
}

.mtoc a {
    display: block;
    float: left;
    padding: 10px;
}

.set_toc {
    position: sticky;
    top: 3px;
    border: 1px solid powderblue;
    padding: 8px 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(8px);
    box-shadow: 3px 7px 11px -10px rgb(133 133 133 / 60%);
    border-radius: 4px;
}
.protected {
    margin-top: 10px;
}

@media screen and (max-width: 575px){
    .typecho-option-submit {
        top: 84%;
    }
}
.SideClock li{
    list-style: none;
}
.SideClock{
    padding-left: 0px;
}
.SideClock p{
    margin: 0.5em 0 0;
    color: #999;
    font-size: .92857em;
}